/*  */

/* toggle button */
/* .dark {
    background: black;
    color: white;
} */

/* 
Project 1
=========
*{
    margin: 0px;
    padding: 0px;
}
.head{
    border: 2px solid blue;
    box-shadow: 0 0 10px red;
      outline: 5px solid orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#message{
    color: blue;
}

.m1{
    display: flex;
    align-items: center;
    justify-content: center;
}

 */
