@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #038cfc;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    background: white;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    box-shadow: 0 0 20px rgb(219, 205, 205);
}

.image {
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    background: #000;
}

img {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 20px;
}

#name {
    margin-top: 5px;
    font-size: 40px;
    font-family: cursive;
    font-weight: 500;
    font-style: normal;
}
#status{
    font-size: 30px;
    font-weight: 600;
    color: red;
}
.buttons{
    margin-top: 7px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
button{
    width: 100px;
    height: 60px;
    border-radius: 20px;
    border: none;
}
#add{
    background-color: rgb(66, 197, 66);
}